{
  "extends": "mourner",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "semi": 0,
    "prefer-arrow-callback": 0,
    "no-invalid-this": 0
  },
}